body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
  h1{
      font-size: 50px;
      font-weight: medium;
      color: gray;
  } 
  h2{
      font-size: 40px;
  }

  span{
      color: rgb(255, 136, 0);
  }

  .button{
    padding: 10px 30px; 
    background: rgb(228,64,64);
    background: linear-gradient(94deg, rgba(228,64,64,0.8435749299719888) 0%, rgba(253,77,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    font-weight: 500;  
    text-decoration: none; 
    border-radius: 30px;
    box-shadow: 2px 3px 20px orangered;
  }
  
.first-section{
    display: flex;
    margin-bottom: 60px;
}

 .flex p{
     font-size: 20px;
     color: silver;
    margin-bottom: 40px;
    }  


.flex{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
    
#first-part{
    margin-left: 5%;
    margin-top: 3%;
}

.first-img{
    width: 100%;
    padding-bottom: 25px;
}
#second{
    background-image: url(image/Frame\ 58.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding-top: 80px;
}
#about-text{
    padding: 20px;
    margin-bottom: 80px;
}
#second img{
    width: 50%;
    height: 100%;
    padding-left: 15%;
  
}
.new{
    display: flex;
}
#menu{
    margin-bottom: 10%;
    margin-top: 10%;
}
.menu-text{
    text-align: center;
    padding-bottom: 20px;
}
.menu-text p{
    font-weight: bold;
    color: orangered;
    margin-top: -20px;
}
.part{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 2px 2px 40px rgb(226, 145, 69);
}
.part img{
    width: 100%;
    height: 40%;
    border-radius: 15px;
}
.part p{
    color: gray;
}



.sign-up{
    background-color: orangered;
    text-align: center;
    padding: 2%;
    padding-bottom: 90px;
    margin-bottom: 10px;
    
}
.sign-up h1{
    color: white;
}
.sign input{
    width: 40%;
    padding: 10px 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;

}
#btn{
    padding: 12px 30px; 
    background: rgb(228,64,64);
    background: linear-gradient(94deg, rgba(228,64,64,0.8435749299719888) 0%, rgba(253,77,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    font-weight: 500;  
    text-decoration: none; 
    border: 0;
    border-radius: 30px;
    box-shadow: 2px 3px 20px white;
    margin-left: 15px;
}
.followers{
    width: 30%;
    margin-left: 5% ;
    margin-right: 5%;
    align-items: center;
    padding-bottom: 10px;
}
.followers h1{
    font-weight: medium;
    color: black;
}
.followers h3{
    padding-left: 25px;
}
.followers p{
    margin-top: -10%;
    font-size: 15px;
}
#follow{
    box-shadow: 10px 10px 30px gray;
    margin: 5% 5%;
   
}
.food-menu{
    background-image: url(image/Frame\ 57.jpg);
    padding: 30px 0px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.menu-bar h2{
    text-align: center;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
}
footer h2{
    color: gray;
}
footer p{
    color: white;
    font-size: 15px;

}